.title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.children {
  margin-bottom: 1rem;
}

.children p {
  text-align: left;
  margin-bottom: 1rem;
  line-height: 1.25rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}