.container {
    width: 100%;
    min-height: 100%;
    display: flex;
}

@media (min-width: 1250px) {
    .container {
        width: 1250px;
        margin: 0 auto;
    }
}

.portrait {
    width: 150px;
    height: 150px;
    background-image: url(/johanna_nejedlova.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;

    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

@media (min-width: 679px) {
    .leftBox {
        width: 50%;
        height: 100%;
        background-size: cover;
        background-position: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;

        color: #ddd;
    }

    .leftBox > h2 {
        margin: 10px 0 5px 0;
    }

    .rightBox {
        width: 50%;
    }
}

@media (max-width: 680px) {
    .leftBox {
        display: none;
    }

    .rightBox {
        width: 100%;
    }
}

.rightBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: #fff;
    padding: 10px 15px 15px 15px;
    border-radius: 10px;
}

@media (max-width: 305px) {
    .rightBox {
        margin: 0px;
    }
}

@media (min-width: 306px) {
    .rightBox {
        margin: 15px;
    }
}