.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.leftBox {
    width: 50%;
    height: 100%;
    /*background-image: url(/johanna_nejedlova.png);*/
    background-size: cover;
    background-position: center;
}

.rightBox {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background: #fff;
}
